/* App.css */
.modalBackground {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.title {
  text-align: center;
}

.body {
  margin-top: 10px;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.cancelButton,
.continueButton {
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.cancelButton {
  background: #ccc;
}

.continueButton {
  background: green;
  color: white;
  border: none;
}
